.navBar{
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    padding: 1.5%;
    width: 100%;
    height: auto;
    border-color: black;
    border-style: solid;
    border-width: thin;
    border-left: none;
    border-right: none;
}

#icon{
    height: auto;
    width: 2%;
    margin-left: 4%;
}

#icon:hover{
    border-radius: 10%;
    background-color: rgb(201, 201, 201);
}

.divButton{
    text-align: right;
}

.divButton button{
    margin-top: 3%;
    margin-left: 5%;
    height: 40px;
    width:70px;
    background-color: white;
    border-style: ridge;
    border-radius: 10px;
}