.navBar{
    display: inline-block;
    padding: 1.5%;
    width: 100%;
    height: auto;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

#icon{
    height: 2%;
    width: 2%;
    margin-left: 4%;
}

#icon:hover{
    border-radius: 10%;
    background-color: rgb(201, 201, 201);
}