<form [formGroup]="myForm">
  <h3>Thêm Sản Phẩm</h3>
  <label for="name">Name: </label>
  <input type="text" [formControl]="name">

  <label for="price">Price: </label>
  <input type="number" [formControl]="price">
  
  <label for="instock">Instock: </label>
  <input type="number" [formControl]="instock">
  
  <label for="img">ImgURL: </label>
  <input type="string" [formControl]="img">

  <label for="img2">Img2URL: </label>
  <input type="string" [formControl]="img2">
  
  <label for="description">Description: </label>
  <textarea type="string" [formControl]="description"></textarea>
  
  <button *ngIf="this.authService.user != null" type="submit" (click)="submit()">Xác nhận</button>
</form>
