<div class="container">
    <button mat-dialog-close class="close-button">X</button>
    
    <div class="box-list">
        
        <label for="name">Name</label>
        <input type="text" [formControl]="name">

        <label for="price">Price</label>
        <input type="number" [formControl]="price">
        
        <label for="instock">Instock</label>
        <input type="number" [formControl]="instock">
        
        <label for="img">ImgURL</label>
        <input type="string" [formControl]="img">

        <label for="img2">Img2URL</label>
        <input type="string" [formControl]="img2">
        
        <label for="description">Description</label>
        <textarea type="string" [formControl]="description"></textarea>

        <button type="submit" (click)="update()">Xác nhận</button>
        
    </div>

    
</div>